.fade-in-box {
  display: inline-block;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.main-block {
  width: 82%;
  height: 100vh;
  padding: 1.5rem;
}

.path-block {
  display: flex;
  align-items: center;
}

.directory-list {
  margin-right: 2rem;
}

.directory-path {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 1rem;
}

.dir-current {
  padding: 0.2rem 0.3rem;
}

.highlight-red {
  background-color: #ffcbcb;
}

.highlight-blue {
  background-color: #dae4ff;
}

.highlight-green {
  background-color: #d2eccc;
}

.highlight-yellow {
  background-color: #ffe69c;
}

.highlight-none {
  background-color: none;
}

.btn-styles {
  border: none;
  background: none;
}

.highlight-block {
  background-color: #f7f5f1;
  width: 10rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.high-red {
  color: #ff4949;
}

.high-blue {
  color: #4343ff;
}

.high-green {
  color: #2db22d;
}

.high-yellow {
  color: #ffd124;
}

.high-white {
  color: #ffffff;
}

.buttons-block {
  margin-top: 1rem;
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.border-line {
  font-size: 1.5rem;
}

.button-align {
  display: flex;
  align-items: center;
}

.icon-margin {
  margin-left: 0.3rem;
}

.filelist-block {
  margin-top: 1.5rem;
}

.file-name {
  display: flex;
  align-items: center;
}

.mg-right {
  margin-right: 0.5rem;
}

.file-check {
  zoom: 1.4;
}

.logo-image {
  width: 1rem;
}
