.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.close-modal {
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal>hr{
  border: 1px solid #000000;
}

.modal.open-modal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}